<h1>Better LTA</h1>

<p><a href="https://ltasbaseball.com">Lou Tompkins All Star Baseball</a> is a
competitive youth baseball league in eastern Massachusetts. The website leaves a
bit to be desired in navigating schedules, results, and standings.</p>

<p>This project scrapes data from the website and presents it more completely
and conveniently.</p>